@import "../../variables.scss";

.second_section_container {
  display: flex;
  justify-content: flex-end;
  background-color: $darkWhite;
  height: 73px;
  .favorite {
    display: flex;
    align-items: center;
    background-color: $lightGray2;
    padding: 15px;
    p {
      margin: 0;
      color: gray;
      margin-left: 10px;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 390px) {
  .favorite {
    * {
      font-size: 10px;
    }
  }
}
