@import "../../variables.scss";

@font-face {
  font-family: MetricSemibold;
  src: url(../../assets/fonts/Metric-Semibold.ttf);
}

.third-section-container {
  display: flex;
  margin: 0;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: $darkWhite;
  margin-left: 70px;
  & > div {
    padding: 40px 0px 40px 0px;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid $darkWhite;
    &:nth-child(1) {
      background-image: url(../../assets/images/back-images/1.png);
      .icon,
      .text {
        color: #00acac;
      }
    }
    &:nth-child(2) {
      background-image: url(../../assets/images/back-images/3.png);
      .icon,
      .text {
        color: #1f7bb6;
      }
    }
    &:nth-child(3) {
      background-image: url(../../assets/images/back-images/1.png);
      .icon,
      .text {
        color: #fbcf71;
      }
    }
    &:nth-child(4) {
      background-image: url(../../assets/images/back-images/3.png);
      border-right-style: none;
      .icon,
      .text {
        color: #00acac;
      }
    }
    .number {
      font-family: MetricSemibold;
      font-size: 60px;
    }
    .description {
      color: gray !important;

      margin-left: 8px;
    }
    .description,
    .icon {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .card_col {
    border-bottom: 1px solid $darkWhite;
    border-right-style: none !important;
    &:last-child {
      border-style: none;
    }
  }
}

@media only screen and (max-width: 991px) {
  .third-section-container {
    border-bottom-style: none;
    .card_col {
      border-bottom: 1px solid $darkWhite;
      &:nth-child(2) {
        border-right-style: none;
      }
    }
  }
}
