.select_box {
  width: 100px;
  position: relative;
  padding: 10px 0;

  .select {
    width: 100px;
    border-style: none;
    position: relative;
    z-index: 99;
    background: none;
    color: white;
    option {
      background-color: #202020;
      width: 100px;
      border-style: none;
    }
  }
  &:after {
    width: 0;
    height: 0;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
  }
}
