@import "../../variables.scss";

.header_container {
  width: 100%;
  border-bottom: 1px solid $lightGray2;
  height: 57px;
  display: flex;
  margin: 0;
  .header_section {
    border-left: 1px solid  $lightGray2;
  }
  .language {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    span {
      font-size: 20px;
      font-weight: bold;
      margin-left: 8px;
    }
    .last_login{font-size: 8px;}
  }

  .user {
    display: flex;
    align-items: center;
    p {
      margin-top: 3px;
      margin-bottom: 0px;
    }
  }
}
