.stat_container {
  margin-left: 70px;
  margin-right: 0px;
  background-color: #2a2a2a;
  .diagram_section {
    padding: 15px 30px;
    &:nth-child(2) {
      background-color: #222222;
    }
    &:nth-child(3) {
      padding: 0;
    }
  }
  p,
  h3,
  h4,
  span {
    color: white;
  }
}
