@import "../../../variables.scss";
.circle_container {
  background-color: #222222;
}
.circle_chart_context {
  width: 250px;
  height: 250px;
  text {
    font-size: 50px;
    font-weight: bold;
  }
}
.ctr {
  margin-left: 35px;
}
.desc {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 8px;
  &:nth-child(2) {
    .desc_circle {
      border: 2px solid#fbcf71;
    }
  }
  &:nth-child(3) {
    .desc_circle {
      border: 2px solid #1f7bb6;
    }
  }
  &:nth-child(4) {
    .desc_circle {
      border: 2px solid #01aaaa;
    }
  }
  .desc_circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  * {
    color: white;
  }
}
