@import "../../variables.scss";

.sidebar,
.sidebar_open {
  width: 70px;
  transition: all 0.3s linear;
  background-color: $sidebarDown;
  height: 100%;
  z-index: 10;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .logo_content {
    display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 5px 8px;
    background-color: red;
    .logo {
      display: flex;
    }
  }
  .nav_list {
    padding: 0px;
    margin: 0px;
    display: flex;

    flex-direction: column;
    // .nav_up {
    //   display: flex;
    //   align-items: center;
    //   flex-direction: column;
    // }
    .nav_up {
      background-color: $siderbarUp;
      .link {
        color: white;
        &:hover {
          color: $lightGray;
        }
      }
      .toggle_container {
        position: fixed;
        left: 70px;
        transition: left 0.3s linear;
        top: 65px;
        align-items: center;
        .toggle {
          border: 0px;

          padding: 15px 7px;
          border-radius: 0 7px 7px 0;
          background-color: $siderbarUp;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .nav_bottom {
      background-color: $sidebarDown;
      border-bottom: 1px solid gray;
      .link {
        color: $lightGray;
        &:hover {
          color: white;
        }
        .down_btn {
          font-size: 24px;
        }
      }

      li:first-child {
        border-top: 1px solid gray;
      }
    }
    li {
      list-style-type: none;
      padding: 22px;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        flex-wrap: nowrap;
        .menu_icon {
          font-size: 24px;
        }

        .links_name {
          display: none;
          white-space: nowrap;
        }
      }
      .down_btn {
        display: none;
      }
    }
  }
}

.sidebar_open {
  width: 280px;
  .links_name {
    display: initial !important;
    font-size: 15px;
  }
  .menu_icon {
    margin-right: 30px;
  }
  .toggle_container {
    left: 280px !important;
  }
  .down_btn {
    display: flex !important;
  }
  .logo_content {
    background-color: black;
    justify-content: flex-start;
    padding: 5px 8px;
    align-items: center;
    p {
      color: white;
    }
  }
  
}
